<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
    <title>Admin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-4.5.0.min.js"></script>

    <link rel="icon" href="BSC_logo_no_bg (1).svg" type="image/x-icon">
    <link type="text/css" rel="stylesheet"  href="admin.css">
    <link type="text/css" rel="stylesheet"  href="index.css">
    <script type="text/javascript" src="admin.js"></script>
    <!-- <script type="text/javascript" src="dashboard.js"></script> -->

</head>

<body>
    <!-- <body style="background-color: cornsilk;"> -->

    <div class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top top-m-140">
        <a class="navbar-brand">
            <img src="BSC_logo_no_bg.svg " class="navbar-brand" alt="BCS">
        </a>
        
        <div class="navbar-nav collapse navbar-collapse" id="menu">
            <div class="navbar-nav mx-auto nav_responsive margin-right-80">
                <a href="/" class="fwc_pa">Logout</a>
            </div>
        </div>
        
        
    </div>

    <div id='root'></div>
    
    <!-- <a id="saved_pass" href="https://facebook.com"> saved password </a> -->
    
</body>